@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<DOCTYPE html>
    <html lang="pl">
        <head>
            <meta charset="UTF-8" />
            <meta name="viewport"
                  content="width=device-width, inital-scale=1.0" />
            <title> NoteTaking - @ViewData["Title"] </title>
            <link rel="stylesheet"
                  type="text/css"
                  href="~/css/Layout.css" />
            <link rel="stylesheet"
                  type="text/css"
                  href="~/css/@ViewData["CSS"]" />
            <script src="https://kit.fontawesome.com/c645a9079e.js" crossorigin="anonymous"></script>
        </head>
        <body>
            <div class="container">
                <header>
                    <h1 class="main-header">
                        TakingNote
                    </h1>
                    <img class="sticky-note-icon" src=~/img/StickyNote.png/> 
                </header>
                <div class="content">
                    @RenderBody()
                </div>
                <footer>
                    <div class="copyright">
                        <p>
                            Copyright @DateTime.Now.Year &copy
                        </p>
                    </div>
                </footer>
            </div>
        </body>
    </html>
</DOCTYPE>