.form {
    width: 400px;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

input {
    width: 100%;
    height: 28px;
    font-family: "Raleway";
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 1px solid #F8F17C;
}

input:focus {
    color: #2A2A2A;
    outline: none;
    box-shadow: none;
    background: #F8F17C;
}

.input {
    position: relative;
    width: 85%;
    margin: 20px auto;
}

label {
    display: block;
    position: absolute;
    left: -20px;
    top: 5px;
    font-size: 20px;
}

label i {
    color: #F8F17C;
}

#password {
    margin-bottom: 5px;
}