* {
    box-sizing: border-box;
    background-color: #313639;
    color: #E0DBD1;
}

/* Container and Content display */

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px);
}

/* Footer display */

.footer {
    display: flex;
    height: 50px;
}

.copyright {
    margin: 0 auto;
    text-align: center;
}
