* {
    box-sizing: border-box;
    background-color: #313639;
    color: #E0DBD1;
    font-family: "Raleway";
}

/* Container and Content display */

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* 100px Header and 50px Footer */
    height: calc(100% - 200px);
}

/*Header*/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.main-header {
    font-size: 60px;
    font-family: "Edu TAS Beginner";
    margin: 10px;
}

.sticky-note-icon {
    height: 100px;
    width: 100px;
}

/* Footer display */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.copyright {
    text-align: center;
}

