@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
    background-color: #313639;
    color: #E0DBD1;
    font-family: "Raleway";
}

/* Container and Content display */

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.content {
    display: flex;
    overflow: scroll;
    align-items: center;
    justify-content: center;
    /* 100px Header and 50px Footer */
    height: calc(100% - 150px);
}

/*Header*/

header {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100px;
}

.main-header {
    font-size: 40px;
    font-family: "Mochiy Pop One";
    margin: 10px;
}

.sticky-note-icon {
    height: 70px;
    width: 70px;
}

/* Footer display */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.copyright {
    text-align: center;
}
