@{
    ViewData["Title"] = "forgot password";
    ViewData["CSS"] = "ForgotPassword.css";
}

<div class="form">
    <p class="header">
        Forgot your Password ?
    </p>
    <form>
        <div class="input">
            <label id="icon" for="email">
                <i class="fa-solid fa-at"></i>
            </label>
            <input type="email" id="email" placeholder="Email" />
        </div>
        <button class="resetPassword">
            Reset Password
        </button>
        <p>
            Need too Log in ?
        </p>
        <button class="logIn">
            Log In
        </button>
    </form>
</div>
